h5{
    font-family: 'Source Sans Pro', sans-serif !important;
}
    
h1,h3,h4,a{
    font-family: 'Bebas Neue', cursive !important;
}


.swiper-pagination-bullet{
    background: #ffff !important;
    bottom: 1px;
    padding-top: 5px;
}
.swiper-wrapper{
    margin-bottom: 4px !important;
}

.carrouselCard:hover{
    transition: transform .2s ease-in;
    transform: scale(1.03);

}

.Star{
color: rgba(246, 184, 28, 0.53) !important;
}

.homepageLink{
    text-decoration: none;
    color:#BD1E1E !important;
}

.socialMediaContainer{
    padding-left: 0px !important;
    margin-left: 0px !important;
}