h1,h3{
    font-family: 'Bebas Neue', cursive !important;
    color: #BD1E1E !important;
}

.swiper-pagination-bullet{
    background: #ffff !important;
    bottom: 1px;
    padding-top: 5px;
}
.swiper-wrapper{
    margin-bottom: 4px !important;
}
.swiper-slide-active,.swiper-slide-next,.swiper-slide{
    border:none !important;
}
.MuiCard-root{
    border: none !important;
}
.MuiCard-root:hover{
    overflow: visible;
    opacity: none !important;
    border: none !important;
}
.MuiCardContent-root{
    opacity: none !important;
    border: none !important;
}

.carrouselCard:hover{
    transition: transform .2s ease-in;
    transform: scale(1.03);
    border:none !important;


}
.css-b6lsxj-MuiButtonBase-root-MuiCardActionArea-root{
    border:none!important
}
