h5 {
  font-family: "Source Sans Pro", sans-serif !important;
}

h1,
h3,
h4,
a {
  font-family: "Bebas Neue", cursive !important;
}

.swiper-pagination-bullet {
  background: #ffff !important;
  bottom: 1px;
  padding-top: 5px;
}
.swiper-wrapper {
  margin-bottom: 4px !important;
}

.carrouselCard:hover {
  transition: transform 0.2s ease-in;
  transform: scale(1.03);
}

.Star {
  color: rgba(246, 184, 28, 0.53) !important;
}

.homepageLink {
  text-decoration: none;
  color: #bd1e1e !important;
}

.socialMediaContainer {
  padding-left: 0px !important;
  margin-left: 0px !important;
}

.MuiPaginationItem-root {
  color: #ffff !important;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: #bd1e1e !important;
}

@media (min-width:320px) and (max-width:460px) {
  .carrouselCard{
    width:5em !important;
  }
  .cardContainer{
  justify-content: space-evenly !important

  }
  .mediaCard{
    height: 8em !important
  }
  .cardContent {
    height: auto !important;
    padding:0px !important
  }
  .posterMedia{
    height: 20em !important;
  }
  .containerInfo{
    align-items:center !important

  }
}